In [21]:
import pandas as pd
import random

In [10]:
data = pd.read_csv("web-Stanford.txt",
                             sep="\t")

In [79]:
bigDS = pd.DataFrame(columns = ["FromNode", "ToNode"])

In [66]:
ListOfNodes = data["FromNode"].unique()

In [81]:
randomNodes = random.choices(list(data["FromNode"].unique()), k = int(len(data)*.1))

In [82]:
for i in randomNodes:
    randomEdge = data[data.FromNode == i].sample()
    bigDS = pd.concat([bigDS, randomEdge])

In [84]:
tor = bigDS

In [85]:
tor

        FromNode  ToNode
1106494    38194   34573
917528    253227  183862
1735707   134268  265957
1189018   126750   43843
1951112   142185  215730
...          ...     ...
1881687   226897  261616
1456095    68300  222332
599113     60754   52796
310791    115140  259094
90700      23902   59682

[231249 rows x 2 columns]